//This folder contains all the scss variables

//Color variables
$gradientOne: rgba(0, 0, 0, .95);
$gradientTwo: rgba(0, 255, 234, .20);
$topBot:  rgb(0, 11, 12);
$footer: rgba(0, 192, 213, .90);
$aqua: rgb(0, 255, 234);
$gold: rgb(214, 164, 70);